<!--
  Generated template for the GroupsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>groups</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div *ngIf="show===0"><p>Nothing here!</p>
    <p>Add you content</p>
    <ion-fab bottom right>
        <button ion-fab color="primary"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
  </div>
    <add-group-member *ngIf="show===1"></add-group-member>
    <groups *ngIf="show===2"></groups>
</ion-content>
<ion-footer no-border style="background: #e2e2e2;text-align: center;">
    <ion-grid>
      <ion-row>
        <ion-col (click)="openItem(1)"><ion-icon name="add"></ion-icon>Add </ion-col>
        <ion-col (click)="openItem(2)"> <ion-icon name="contacts"></ion-icon> Total </ion-col>
        <ion-col (click)="openItem(3)"><ion-icon name="document"></ion-icon> Sattle </ion-col>
        <ion-col (click)="openItem(0)"><ion-icon name="logo-usd"></ion-icon> FAQ </ion-col>
      </ion-row>
    </ion-grid>
</ion-footer>