<ion-header>

  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title center>
     Personal
    </ion-title>
    <ion-buttons end>
     <button ion-button icon-only>
        <ion-icon name="contact"></ion-icon>
      </button>
       <button ion-button icon-only>
        <ion-icon name="notifications"></ion-icon>
      </button>
      <button ion-button icon-only>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
<div *ngIf="show===0">
  <p>Nothing here!</p>
  <p>Add you content</p>
  <ion-fab bottom right>
      <button ion-fab color="primary"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</div>

<add-item *ngIf="show===1"></add-item>
  
<ion-list *ngIf="show===2">
    <ion-item>
      Item
    </ion-item>
    <ion-item detail-push>
      Item with Detail Arrow
    </ion-item>
    <button ion-item (click)="buttonClick()">
      Button Item
    </button>
    <ion-item-divider>
      Item Divider
    </ion-item-divider>
    <button ion-item detail-none (click)="buttonClick()">
      Button Item with no Detail Arrow
    </button>
    <a ion-item href="https://www.ionicframework.com">
      Anchor Item
    </a>
    <ion-item no-lines>
      Item with no border
    </ion-item>
    <ion-item text-wrap>
      Multiline text that should wrap when it is too long
      to fit on one line in the item.
    </ion-item>
  </ion-list>


  <!--<ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>-->
</ion-content>
<ion-footer no-border style="background: #e2e2e2;text-align: center;">
    <ion-grid>
      <ion-row>
        <ion-col (click)="openItem(1)"><ion-icon name="add"></ion-icon>Add </ion-col>
        <ion-col (click)="openItem(2)"> <ion-icon name="contacts"></ion-icon> Total </ion-col>
        <ion-col (click)="openItem(3)"><ion-icon name="document"></ion-icon> Sattle </ion-col>
        <ion-col (click)="openItem(4)"><ion-icon name="logo-usd"></ion-icon> FAQ </ion-col>
      </ion-row>
    </ion-grid>
</ion-footer>