<div class="container p-15 mt-35">
    <form #addForm="ngForm" novalidate class="form-signin">
   
    <ion-row class="text-center">
    <h2 class="text-center"> Add Group</h2>
    </ion-row>
    <ion-row class="">
        <ion-col class="p-0">
          <ion-list>
           <ion-item class="pl-0">
                 <ion-input [(ngModel)]="item.item" name="item" type="text" placeholder="Group Name"  #item="ngModel" spellcheck="false" autocapitalize="off" class="form-control"  required>
           </ion-input>
           </ion-item>
           <p  class="mtm-6 pl-12" ion-text [hidden]="item.valid || submitted == false" color="danger" padding-left>
             item is required
           </p>

           <ion-item>
              <ion-select [(ngModel)]="item.amount" name="amount" placeholder="Select Members"  #amount="ngModel" required multiple="true">
                <ion-option value="nes">NES</ion-option>
                <ion-option value="n64">Nintendo64</ion-option>
                <ion-option value="ps">PlayStation</ion-option>
                <ion-option value="genesis">Sega Genesis</ion-option>
                <ion-option value="saturn">Sega Saturn</ion-option>
                <ion-option value="snes">SNES</ion-option>
              </ion-select>
            </ion-item>
         <p  class="mtm-6 pl-12" ion-text [hidden]="item.valid || submitted == false" color="danger" padding-left>
           Member is required
         </p>
        <ion-item class="pl-0">
         <ion-input [(ngModel)]="item.date" name="date" type="text" placeholder="date"  #date="ngModel" spellcheck="false" autocapitalize="off" class="form-control"  required>
         </ion-input>
       </ion-item>
       <p  class="mtm-6 pl-12" ion-text [hidden]="item.valid || submitted == false" color="danger" padding-left>
         date is required
       </p>   
      
       <ion-item class="pl-0">
          <ion-icon name="logo-twitter" item-start></ion-icon>
          Group icon
          <ion-badge item-end (tap)="presentActionSheet()">select</ion-badge>
        </ion-item>

       <ion-item class="pl-0 btn-sm">
            <button ion-button class="btn submit-btn fs-16" full type="submit" (click)="onLogin(addForm)">Save</button>
        </ion-item>
          </ion-list>
        </ion-col>
    
      </ion-row>
      
    </form>
  </div>